body,
html {
  background-image: url("./UnionBackground.png");
  background-color: #002060;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  /*width: 100vw;*/
  margin: 0 auto;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

textarea {
  width: 400px;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
}

#comboTableContainer {
  overflow: scroll;
  height: 400px;
  width: 1200px;
  background-color: #002060;
  border: 1px solid white;
}

#unionTableContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
  width: 200px;
  background-color: #002060;
  border: 1px solid white;
}

#unionTable {
  height: 400px;
  width: 200px;
}

#tableContainer {
  height: 500px;
  width: 1500px;
  padding: 10px;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

table {
  border-collapse: collapse;
}

table th,
table td {
  max-width: 100%;
  padding: 8px 16px;
  border: 1px solid white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table thead {
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 white;
  position: sticky;
  inset-block-start: 0;
  background-color: #002060;
}

#unionButton {
  height: 30%;
  width: 15%;
  color: #fff !important;
  background: #002060;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  border: solid;
  transition: all 0.4s ease 0s;
  margin-top: auto;
}

#unionButton:hover {
  background: #003bb0;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.inputContainer {
  width: 82%;
  border-radius: 0.5em;
  padding: 10px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.item {
  width: 350px;
  height: 200px;
  padding: 10px;
}

#Guide {
  bottom: 5%;
  position: fixed;
  color: white;
  font-weight: bold;
}

#comboTableContainer::-webkit-scrollbar,
#unionTableContainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#comboTableContainer::-webkit-scrollbar-track,
#unionTableContainer::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

#comboTableContainer::-webkit-scrollbar-thumb,
#unionTableContainer::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #6e9cff 0%, #0022ff 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

#Cases::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#Cases::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

#Cases::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #bfbfbf 0%, #808080 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

#DesiredStates::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#DesiredStates::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

#DesiredStates::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #bfbfbf 0%, #808080 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

#InvolvedPieces::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#InvolvedPieces::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

#InvolvedPieces::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #bfbfbf 0%, #808080 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
